<template>
  <div class="TodoItem flex flex-col items-start justify-start p-4 mb-5">
    <div class="flex justify-between w-full mb-3">
      <h3 class="text-lg font-bold">
        {{ title }}
      </h3>
      <div class="buttons flex items-center">
        <div
          class="mr-2 bg-green-600 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="doneTodo"
        >
          done
        </div>
        <div
          class="mr-2 bg-yellow-500 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="editTodo"
        >
          edit
        </div>
        <div
          class="bg-red-700 text-white p-1 px-3 cursor-pointer rounded-md hover:scale-105"
          @click="removeTodo"
        >
          delete
        </div>
      </div>
    </div>

    <p class="text-start" :class="{ 'line-through': isDone }">{{ content }}</p>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    title: String,
    content: String,
    index: Number,
    todoAll: Array,
    isDone: Boolean,
  },
  data() {
    return {};
  },
  methods: {
    storeData() {
      let data = JSON.stringify(this.todoAll);
      localStorage.setItem("todolist", data);
    },
    removeTodo() {
      this.todoAll.splice(this.index, 1);
      this.storeData();
    },
    doneTodo() {
      let todo = this.todoAll[this.index];
      todo.isDone = true;
      this.todoAll.splice(this.index, 1);
      this.todoAll.push(todo);
      this.storeData();
    },
    editTodo() {
      this.$parent.$data.EditableIndex = this.index;
      this.$parent.$data.todoAddVisable = true;
      this.$emit(
        "valueChange",
        this.todoAll[this.index].title,
        this.todoAll[this.index].content
      );
    },
  },
};
</script>

<style>
.TodoItem {
  background: rgba(255, 255, 255, 0.1);
  min-width: 400px;
  min-height: 100px;
  max-width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  z-index: 10;
  backdrop-filter: blur(10px);
}
</style>
