<template>
  <form
    class="form mb-6 p-10 rounded-xl"
    @submit.prevent="handleAdd"
    :class="{ hidden: !visable }"
    ref="form"
  >
    <div class="mb-2">
      <label
        for="base-input"
        class="block mb-2 text-lg font-medium text-white text-left"
        >Title</label
      >
      <input
        type="text"
        id="base-input"
        v-model="title"
        class="input_form border border-gray-300 text-white text-sm rounded-lg block w-full p-2.5"
      />
    </div>
    <div class="mb-4">
      <label
        for="message"
        class="block mb-2 text-lg font-medium text-white text-left"
        >Content</label
      >
      <textarea
        id="message"
        rows="3"
        v-model="content"
        class="input_form block p-2.5 w-full text-sm text-white rounded-lg border border-gray-300"
      ></textarea>
    </div>
    <button class="bg-blue-500 rounded-md text-white p-2 px-3 hover:scale-105">
      Add
    </button>
  </form>
</template>

<script>
export default {
  name: "TodoAddOrEdit",
  props: {
    visable: Boolean,
    todoAll: Array,
    title: String,
    content: String,
  },
  data() {
    return {};
  },
  methods: {
    handleAdd() {
      let todo = {
        title: this.title,
        content: this.content,
        isDone: false,
      };
      if (this.$parent.$data.EditableIndex === -1)
        this.todoAll.splice(0, 0, todo);
      else this.todoAll.splice(this.$parent.$data.EditableIndex, 1, todo);

      let data = JSON.stringify(this.todoAll);
      localStorage.setItem("todolist", data);
      this.$parent.$data.todoAddVisable = false;
      this.$parent.$data.EditableIndex = -1;
      this.$parent.$data.currentTitle = "";
      this.$parent.$data.currentContent = "";
      this.title = "";
      this.content = "";
    },
  },
};
</script>

<style>
.form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.input_form {
  background: rgba(255, 255, 255, 0.1);
}
</style>
