<template>
  <h1 class="font-bold text-5xl mb-4">Todo List</h1>
  <div class="z-10 add" @click="showTodoAdd">Add a new TODO</div>
  <div class="todo_content z-10 overflow-y-scroll h-screen scrollbar-hide">
    <TodoAddOrEdit
      :visable.sync="todoAddVisable"
      :todoAll.sync="todolist"
      :title="currentTitle"
      :content="currentContent"
    />
    <TodoItem
      v-for="(todo, index) in todolist"
      :key="index"
      :index="index"
      :title="todo.title"
      :content="todo.content"
      :isDone="todo.isDone"
      :todoAll.sync="todolist"
      @valueChange="onValueChange"
    />
  </div>
</template>

<script>
import TodoItem from "./components/TodoItem.vue";
import TodoAddOrEdit from "./components/TodoAddOrEdit.vue";

export default {
  name: "App",
  components: {
    TodoItem,
    TodoAddOrEdit,
  },
  data() {
    let todolist = localStorage.getItem("todolist");
    todolist = JSON.parse(todolist);

    return {
      todolist: todolist,
      todoAddVisable: false,
      EditableIndex: -1,
      currentTitle: "",
      currentContent: "",
    };
  },
  methods: {
    showTodoAdd() {
      this.todoAddVisable = !this.todoAddVisable;
      console.log(this.todoAddVisable);
    },
    onValueChange(title, content) {
      this.currentTitle = title;
      this.currentContent = content;
    },
  },
};
</script>

<style>
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #19172e;
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  color: white;
  height: 100vh;
  padding: 30px 10px;
}

#app::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(red, orange);
  border-radius: 50%;
  left: 10%;
  bottom: 10%;
}

#app::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(green, yellow);
  border-radius: 50%;
  top: 10%;
  right: 10%;
}

.add {
  background: #651fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.todo_content {
  min-width: 300px;
  width: 100%;
  max-width: 700px;
}
</style>
